@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import '@fortawesome/fontawesome-free/css/all.css';


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-box-shadow-color, rgba(0, 0, 0, 0)) inset;
  -webkit-text-fill-color: #fff !important; 
}


body{
    background-color: var(--color-neutral-950);
    color: white;
    /* font-family: 'Inter', sans-serif; */
    overflow: hidden;
}


.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}